{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "object-curly-spacing": "off",
    "func-names": "off",
    "prefer-const": "off",
    "comma-dangle": "off",
    "space-before-function-paren": "off",
    "no-console": "off",
    "quotes": ["error", "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "guard-for-in": "off",
    "no-restricted-syntax": ["error", "WithStatement"],
    "no-use-before-define": "off",
    "brace-style": ["error", "stroustrup"],
    "no-unused-vars": ["error", {"varsIgnorePattern": "[iI]gnored"}],
    "no-param-reassign": "off",
    "semi": [2, "never"]
  }
}
